.App {
  text-align: center;
}
.icon{
position:relative;
left: -16px;
pointer-events: none;

}

.bloc{
display: flex;
flex-direction: column;
text-align: left;
align-items: center;

}

li{
  list-style-type: none;
  }


.check2{
width: 20px;
height: 20px;
 opacity: 0;  
}